<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
       
        <link rel="stylesheet" href="/css/index.css"/>
        <style>
            
        </style>
    </head>
    <body>
            {{!-- {{>header}} --}}
   <div class="heading">Weather App</div>
 <div class="main">
     <div class="texts">Type City name to get weather data</div>
        <form>
            <input placeholder="Enter City Name">
            <button>Search</button>
        </form>
       
        <div class="box">
            
            {{!-- <div class="weathericon">
                <i class="fas fa-sun" style="color: yellow;"></i> 
            </div> --}}
            <div class="info">
                <h2 class="location" id="mainlocation"></i><span id='city'></span><span id='country'></span></h2>
                <p id="date">MON | APRIL 14 | 10:58M</p>
                <p id="temp"></p>
                <p id='pressure'></p>
                <p id='humidity'></p>
                <!-- <h1 class="tempMINMAX">MIN:{%tempmin%}°C,MAX:{%tempmax%}°C</h1> -->
            </div>
        </div>
        </div>
        <script>
           
var d = new Date();
var week = [
    "Sun",
    "Mon",
    "Tue",
    "Wed",
    "Thurs",
    "Fri",
    "Sat"
  ];
  console.log(week[d.getDay()]);
  var month = new Array();
  month[0] = "January";
  month[1] = "February";
  month[2] = "March";
  month[3] = "April";
  month[4] = "May";
  month[5] = "June";
  month[6] = "July";
  month[7] = "August";
  month[8] = "September";
  month[9] = "October";
  month[10] = "November";
  month[11] = "December";
console.log(month[d.getMonth()]);
 const datedetails = week[d.getDay()] + " | " + month[d.getMonth()] + " " + d.getDate() + " | " + d.getHours() + ":" + d.getMinutes();


document.getElementById("date").innerHTML = datedetails;


        </script>

   <script src="/js/app.js"></script>
    </body>
</html>